
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">

        <div class="cs-content">
            <!-- Right content, e.g., About Us text -->
            <span class="cs-int-title" id="hero-title">{{ page.title }}</span>
            <div class="cs-breadcrumbs">
                <a href="" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">{{ page.title }}</a>
            </div>
        </div>

		<div class="section-center">
							<div class="section-up">

					<div class="cloud-left">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="cloud-middle">
						<span></span>
						<span></span>
						<span></span>
					</div>

					<div class="bird-wrapper">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="bird-wrapper snd">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="bird-wrapper trd">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="building-left">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="building-right">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span>
							<span></span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="left-tree">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="right-tree">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill snd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill trd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill frt">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="section-down">
					<div class="ship-wrapper">
						<div class="ship">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="water-big-wrapper">
						<div class="water-big-wrap">
							<div class="water-big">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water-big snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water-big trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-lines-wrapper">
						<div class="water-lines">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="water-lines-wrapper right">
						<div class="water-lines">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					
				</div>
		</div>

    </div>

</div>