---
title: 'About Us'
description: 'Meta description for the page'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
{% include 'components/banner.html'%}

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/UIUX.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/UIUX.jpg">
                <img loading="lazy" decoding="async" src="../../assets/images/UIUX.jpg" alt="UI UX" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Welcome!</span>
            <h2 class="cs-title" id="hero-title">We’re Hannah and Jayden</h2>
            <p class="cs-text">
                We want to make the web simple and your buissness online presence shine though the others. 
            </p>
            <ul class="cs-list">
                <li class="cs-li">We handle all the tech, so you don’t have to.</li>
                <li class="cs-li">We’re flexible and adaptable. Your business evolves, and so will your website.</li>
                <li class="cs-li">We save you time. You focus on running your business while we take care of every aspect of your website.</li>
                <li class="cs-li">We offer quick, on-demand support. When you need help.</li>
                <li class="cs-li">We offer clear, upfront pricing. No surprises—just straightforward, affordable pricing for peace of mind.</li>
            </ul>
        </div>
    </div>
</section>
            
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1100-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg" alt="appliance" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg" alt="appliance" width="305" height="441">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="stripes" width="140" height="140" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title" id="hero-title">Sunlit Sites Mission & Vision</h2>
            <p class="cs-text">
                Based in the Nelson Bays region, we’re committed to supporting small businesses in bringing their vision to life online. We specialize in creating fully custom, hand-coded websites that not only look great but are easy to manage and grow with your business. We don’t believe in one-size-fits-all solutions. Every website we create is tailored to the unique needs and goals of the client.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Our Mission</h3>
                    <p class="cs-li-text">
                        Our mission is simple: to empower small businesses in Nelson and beyond by building websites that showcase their passion and help them succeed online. We’re here to provide affordable, custom solutions with ongoing support to ensure your site continues to serve your business as it grows.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Our Vision</h3>
                    <p class="cs-li-text">
                        We envision becoming the go-to partner for small businesses looking to build a strong online presence. Through innovative web design and personalized service, we aim to help businesses in our community thrive in the digital world, making sure every website we create is a tool for success.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
            

    

                                

    {% include 'components/cta.html' %}
{% endblock %}
