---
title: 'Services | Sunlit Sites Web Designs'
breadcrumbs: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}


{% include 'components/banner.html'%}

<!-- ============================================ -->
<!--                Side By Side reverse          -->
<!--                  style  about.css            -->
<!-- ============================================ -->



<section id="sbs-1095-1112" class="side-reverse">
    <div class="cs-container">

        <div class="cs-content">
            <span class="cs-topper">Web Design & Development</span>
            <h2 class="cs-title" id="hero-title"> Custom Code </h2>
            <p class="cs-text">
                Each website is unique, so we custom-build our sites to ensure that your site is unique to you. We believe there is no one-size-fits-all solution to web development.
            </p>
            <ul class="cs-list">
                <li class="cs-li cs-h3">Full Customization</li>
                <li class="cs-li" id="content">CMS often limit you to plugins and themes available, so customizations may require heavy plugin use, which can complicate updates and compatibility. Having complete control over the code means we can stay updated with modern standards allowing for leaner more stable code.</li>
                <li class="cs-li cs-h3">Performance Optimization</li>
                <li class="cs-li" id="content">If your website takes more than 3 seconds to load, you could lose up to 50% of your traffic. We can optimize every line of code for faster load times, which is beneficial for Google ranking and user experience.</li>
               <li class="cs-li cs-h3">Security</li>
                <li class="cs-li" id="content">Popular CMSs like WordPress are often targeted by hackers due to their widespread use and known vulnerabilities. Plugins can add security gaps, and keeping plugins and themes updated is critical but time-consuming. We control the security protocols, so there’s a lower risk of common attacks targeting your site.</li>

            </ul>
        </div>

                <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/UIUX.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/UIUX.jpg">
                <img loading="lazy" decoding="async" src="../../assets/images/UIUX.jpg" alt="UI UX" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>

    </div>
</section>

	<!-- ============================================ -->
	<!--                  Services 2                  -->
	<!-- ============================================ -->

	<section id="services-1644">
		<div class="cs-container">
			<div class="cs-content">
				<span class="cs-topper">Qaulity at a fair price</span>
				<h2 class="cs-title" id="hero-title">What Else Our Sites Include</h2>
				<p class="cs-text">
                Our website is designed to provide users with the great experience while also maximising performance. Here's what else we offer.
            </p>
			</div>
			<ul class="cs-card-group">
				<li class="cs-item">
					<div class="cs-image-group">

						<svg xmlns="http://www.w3.org/2000/svg" class="cs-icon" loading="lazy" decoding="async" height="48" aria-hidden="true" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
							<path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018"/>
							<path d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"/>
						</svg>
					</div>
					<div class="cs-flex">
						<h2 class="cs-h2">Optimised Search</h2>
						<p class="cs-item-text">
                    We've carefully crafted our content and structure to ensure high visibility in Google search results, making it easier for you to find us when you need us.
                    </p>
					</div>
				</li>
				<li class="cs-item">
					<div class="cs-image-group">
						<svg xmlns="http://www.w3.org/2000/svg" class="cs-icon" loading="lazy" decoding="async" height="48" aria-hidden="true" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
							<path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
						</svg>
					</div>
					<div class="cs-flex">
						<h2 class="cs-h2">Google analytics</h2>
						<p class="cs-item-text">
                        We use this powerful tool to understand how users interact with our site, allowing us to continuously improve your website performance.
                    </p>
					</div>
				</li>
				<li class="cs-item">
					<div class="cs-image-group">
						<svg xmlns="http://www.w3.org/2000/svg" class="cs-icon" loading="lazy" decoding="async" height="48" aria-hidden="true" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
							<path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2M3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707M2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8m9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5m.754-4.246a.39.39 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.39.39 0 0 0-.029-.518z"/>
							<path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.95 11.95 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0"/>
						</svg>

					</div>
					<div class="cs-flex">
						<h2 class="cs-h2">Page speed metrics</h2>
						<p class="cs-item-text">
                        We prioritize fast loading times to get you the information you need quickly, reducing frustration and improving overall satisfaction.
                    </p>
					</div>
				</li>
				<li class="cs-item">
					<div class="cs-image-group">
						<svg xmlns="http://www.w3.org/2000/svg" class="cs-icon" loading="lazy" decoding="async" height="48" aria-hidden="true" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
							<path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
							<path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
						</svg>
					</div>
					<div class="cs-flex">
						<h2 class="cs-h2">Mobile First Design</h2>
						<p class="cs-item-text">
							Our website is built with mobile devices in mind, ensuring a seamless and intuitive experience whether you're on-the-go or at home.
                    </p>
					</div>
				</li>
			</ul>
		</div>
	</section>



<!-- ============================================ -->
<!--                Side By Side                  -->
<!--                  style  about.css            -->
<!-- ============================================ -->



<section id="sbs-1095-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/UIUX.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/UIUX.jpg">
                <img loading="lazy" decoding="async" src="../../assets/images/UIUX.jpg" alt="UI UX" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Search Engine Optimisation (SEO)</span>
            <h2 class="cs-title" id="hero-title"> Top The Search Results</h2>
            <p class="cs-text">
                Sunlit Sites develops websites that are quick and user-friendly. Our goal is to surpass the vast majority of websites created using platforms such as WordPress, Webflow, Squarespace, Wix, and other CMS solutions.
                We want to make the web simple and your buissness online presence shine though the others. 
            </p>
            <ul class="cs-list">
                <li class="cs-li cs-h3">Technical foundation SEO</li>
                 <li class="cs-li" id="content">We inspect each site, finding and addressing errors, redirect chains, and incorrect header structures. In addition, we optimise all meta titles, meta descriptions, and other key SEO aspects to improve site performance and exposure.</li>

                <li class="cs-li cs-h3">Google Buisness Profile</li>
                <li class="cs-li" id="content">We aim to aid you in optimising your Google Buisness profile with photos, and key information, leading to more leads from "near me" searches on Google Maps. We audit and enhance your profile, ensure consistent business details across directories, and monitor your Google Map Pack rankings to refine.</li>
               
               <li class="cs-li cs-h3">SEO Time Frame</li>
                <li class="cs-li" id="content">SEO is a long-term investment, not a quick fix (for immediate results, consider Google Ads). Consistent effort is required to build backlinks and produce content over several months to see substantial growth in traffic and leads.</li>

            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!--                  style  about.css            -->
<!-- ============================================ -->
<section id="sbsr-1100-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg" alt="appliance" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg" alt="appliance" width="305" height="441">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="stripes" width="140" height="140" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title" id="hero-title">We Simplify The Web</h2>
            <p class="cs-text">

            We simplify the process of creating and managing websites by handling everything from design to hosting. Our goal is to simplify the process so you can concentrate on your business while we handle the technical aspects.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Hosting and Domain management</h3>
                    <p class="cs-li-text">
                       We handle everything, from domain security to ensuring your site works properly, with excellent performance and availability. By assigning us with your website hosting and management, you have a reliable partner who keeps your site optimised, updated, and safe, allowing you to focus on what matters most: growing your business. Let us handle the behind-the-scenes matters so you do not have to.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Tailored for Your Growth</h3>
                    <p class="cs-li-text">
                        Your business will evolve, and your website should too. With our custom-coded sites, you have a flexible, scalable foundation that can grow with your needs, ensuring your site stays relevant, secure, and efficient as your business expands.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>


                                
{% include 'components/cta.html' %}







{% endblock %}