---
title: 'Services | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}


{% include 'components/banner.html'%}
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1100-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg" alt="appliance" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg" alt="appliance" width="305" height="441">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="stripes" width="140" height="140" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title" id="hero-title">Sunlit Sites Mission & Vision</h2>
            <p class="cs-text">
                Based in the Nelson Bays region, we’re committed to supporting small businesses in bringing their vision to life online. We specialize in creating fully custom, hand-coded websites that not only look great but are easy to manage and grow with your business. We don’t believe in one-size-fits-all solutions. Every website we create is tailored to the unique needs and goals of the client.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Our Mission</h3>
                    <p class="cs-li-text">
                        Our mission is simple: to empower small businesses in Nelson and beyond by building websites that showcase their passion and help them succeed online. We’re here to provide affordable, custom solutions with ongoing support to ensure your site continues to serve your business as it grows.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Our Vision</h3>
                    <p class="cs-li-text">
                        We envision becoming the go-to partner for small businesses looking to build a strong online presence. Through innovative web design and personalized service, we aim to help businesses in our community thrive in the digital world, making sure every website we create is a tool for success.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/UIUX.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/UIUX.jpg">
                <img loading="lazy" decoding="async" src="../../assets/images/UIUX.jpg" alt="UI UX" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Welcome!</span>
            <h2 class="cs-title" id="hero-title">We’re Hannah and Jayden</h2>
            <p class="cs-text">
                We want to make the web simple and your buissness online presence shine though the others. 
            </p>
            <ul class="cs-list">
                <li class="cs-li">We handle all the tech, so you don’t have to.</li>
                <li class="cs-li">We’re flexible and adaptable. Your business evolves, and so will your website.</li>
                <li class="cs-li">We save you time. You focus on running your business while we take care of every aspect of your website.</li>
                <li class="cs-li">We offer quick, on-demand support. When you need help.</li>
                <li class="cs-li">We offer clear, upfront pricing. No surprises—just straightforward, affordable pricing for peace of mind.</li>
            </ul>
        </div>
    </div>
</section>

            

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->
<section id="faq-1720">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Faq - Services</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <div class="cs-flex-group">
            <div class="cs-button-group">
                <!--If you need to add another button, make sure to copy and paste from one of the buttons here and increment the data-filter value, so the next one would be data-filter="four", and so on-->
                <div class="cs-flex">
                    <button class="cs-option" data-filter="one">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        All available starter feature
                    </button>
                    <button class="cs-option" data-filter="two">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        Home service 24/7
                    </button>
                    <button class="cs-option" data-filter="three">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        Customer agent service
                    </button>
                    <button class="cs-option" data-filter="four">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        Professional Service
                    </button>
                    <button class="cs-option" data-filter="five">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        2 dedicated consultant
                    </button>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people2.jpg" alt="people" width="353" height="493">
                </picture>
            </div>
            <!--We need this wrapper so the absolutely positioned FAQ lists can be positioned to the top of it to so the animations don't amke it overlap the buttons group above it. We needed a wrapper div around it for the faq lists to be relatively positioned to in order to get the effect we wanted-->
            <div class="cs-wrapper">
                <!--If you add more FAQ's, copy and paste of of the .cs-faq-grop lists and increment the data-category to the next number. We have three right now, if you added a fourth you'd change it to data-category="four" to correspond to the new button you created in the .cs-button-group. The filter and category data attributes need to match so they can work together-->
                <ul class="cs-faq-group" data-category="one">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the best way to start investing?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What are the tax implications of investing in the stock market?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the difference between a traditional IRA and a Roth IRA?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="two">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the best way to start investing?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What are the tax implications of investing in the stock market?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the difference between a traditional IRA and a Roth IRA?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="three">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the best way to start investing?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What are the tax implications of investing in the stock market?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the difference between a traditional IRA and a Roth IRA?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="four">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the best way to start investing?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What are the tax implications of investing in the stock market?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the difference between a traditional IRA and a Roth IRA?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="five">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the best way to start investing?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What are the tax implications of investing in the stock market?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the difference between a traditional IRA and a Roth IRA?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
                                
    {% include 'components/cta.html' %}





<script>
const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }

        class FAQFilter {
        filtersSelector = '.cs-option'
        FAQselector = '.cs-faq-group'
        activeClass = 'cs-active'
        hiddenClass = 'cs-hidden'

        constructor() {
            const $filters = document.querySelectorAll(this.filtersSelector)
            this.$activeFilter = $filters[0]
            this.$images = document.querySelectorAll(this.FAQselector)

            this.$activeFilter.classList.add(this.activeClass)

            for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
            }
        }

        onClick($filter) {
            this.filter($filter.dataset.filter)

            const { activeClass } = this

            this.$activeFilter.classList.remove(activeClass)
            $filter.classList.add(activeClass)

            this.$activeFilter = $filter
        }

        filter(filter) {
            const showAll = filter == 'all'
            const { hiddenClass } = this

            for (const $image of this.$images) {
            const show = showAll || $image.dataset.category == filter
            $image.classList.toggle(hiddenClass, !show)
            }
        }
        }

        new FAQFilter()
                                
                                
</script>

{% endblock %}