---
title: 'Complete Web Package | Sunlit Sites Web Designs'
breadcrumbs: 'Web Packages'
description: 'Meta description for the page'
preloadImg: ''
permalink: 'services/web-packages/'
eleventyNavigation:
    key: Web Packages
    order: 410
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}


{% include 'components/banner.html'%}

<!-- ============================================ -->
<!--                Side By Side reverse          -->
<!--                  style  about.css            -->
<!-- ============================================ -->



<section id="sbs-1095-1112" class="side-reverse">
    <div class="cs-container">

        <div class="cs-content">
            <span class="cs-topper">Our Web Packages</span>
            <h2 class="cs-title" id="hero-title"> Starting At $175 Per Month With $0 Down </h2>
            <p class="cs-text">
                Focus on your business, not your website. We handle all the technical jargon so you don't have to.
            </p>
            <ul class="cs-list">
                <li class="cs-li cs-h3">100% Satisfaction Guaranteed</li>
                <li class="cs-li" id="content">We'll keep working until you love your website. No deadlines, no excuses, no extra charges just results.</li>
                <li class="cs-li cs-h3">100% Secure</li>
                <li class="cs-li" id="content">Our websites can't be hacked because they're built with bulletproof code. No databases to breach, no plugins to exploit</li>
                <li class="cs-li cs-h3">100% Local Partnership</li>
                <li class="cs-li" id="content">We're your neighbors, not some overseas agency. We understand Kiwi businesses because we are one. Your success is our community's success.</li>
                <li class="cs-li cs-h3">100% No Surprises</li>
                <li class="cs-li" id="content">Fixed monthly pricing with everything included. No setup fees, no hidden costs, no surprise bills. Ever.</li>
                <li class="cs-li cs-h3">100% You Own Everything </li>
                <li class="cs-li" id="content">Your domain, your content, your website files you own it all. No hostage situations.</li>
            </ul>
        </div>

                <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/UIUX.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/UIUX.jpg">
                <img loading="lazy" decoding="async" src="../../assets/images/UIUX.jpg" alt="UI UX" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>

    </div>
</section>






<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!--                  style  about.css            -->
<!-- ============================================ -->
<section id="sbsr-1100-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic18.jpg" alt="appliance" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic19.jpg" alt="appliance" width="305" height="441">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="stripes" width="140" height="140" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title" id="hero-title">We Simplify The Web</h2>
            <p class="cs-text">

            We simplify the process of creating and managing websites by handling everything from design to hosting. Our goal is to simplify the process so you can concentrate on your business while we handle the technical aspects.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Hosting and Domain management</h3>
                    <p class="cs-li-text">
                       We handle everything, from domain security to ensuring your site works properly, with excellent performance and availability. By assigning us with your website hosting and management, you have a reliable partner who keeps your site optimised, updated, and safe, allowing you to focus on what matters most: growing your business. Let us handle the behind-the-scenes matters so you do not have to.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Tailored for Your Growth</h3>
                    <p class="cs-li-text">
                        Your business will evolve, and your website should too. With our custom-coded sites, you have a flexible, scalable foundation that can grow with your needs, ensuring your site stays relevant, secure, and efficient as your business expands.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>


                                
{% include 'components/cta.html' %}







{% endblock %}