---
title: 'Sunlit Sites | Web Design & Devlopment | Nelson Bays, NZ'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
	<link rel="stylesheet" href="/assets/css/local.css"/>
	<link rel="stylesheet" href="/assets/css/critical.css"/>

	<!-- Script for Netlify Identity -->
	<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script defer>
		if (window.netlifyIdentity) {
			window
				.netlifyIdentity
				.on('init', (user) => {
					if (!user) {
						window
							.netlifyIdentity
							.on('login', () => {
								document.location.href = '/admin/';
							});
					}
				});
		}
	</script>

	<!-- JSON Schema Markup -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "LocalBusiness",
			"name": "{{ client.name }}",
			{% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
			{% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
			{% if client.email %}"email": "{{ client.email }}",{% endif %}
			{% if client.address %}
				"address": {
					"@type": "PostalAddress"{% if client.address.lineOne %},
						"streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
					{% endif %}
					{% if client.address.city %},
						"addressLocality": "{{ client.address.city }}"
					{% endif %}
					{% if client.address.state %},
						"addressRegion": "{{ client.address.state }}"
					{% endif %}
					{% if client.address.zip %},
						"postalCode": "{{ client.address.zip }}"
					{% endif %}
					{% if client.address.country %},
						"addressCountry": "{{ client.address.country }}"
					{% endif %}
				},
			{% endif %}
			{% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
			{% if client.socials %}
				"sameAs": [{% for platform, url in client.socials %}
						{% if not loop.first %},{% endif %}
						"{{ url }}"
					{% endfor %}]
			{% endif %}
		}
	</script>
{% endblock %}

{% block body %}

	<!-- ============================================ -->
	<!--                   Hero                       -->
	<!-- ============================================ -->

	<section id="hero-288" class="">

		<div class="cs-container">
			<div class="cs-content">
				<h1 class="cs-title " id="hero-title" contentEditable role='textbox' aria-multiline='true'>Crafted by Hand Powered by Code</h1>
				<h2 class="cs-name" contentEditable role='textbox' aria-multiline='true'> Affordable Web Design for Local Small Businesses. </h2>
				<p class="cs-text "contentEditable role='textbox' aria-multiline='true'>
                Skip the Builders and Templates Our Custom-Coded Websites Start at $150/Month with Zero Down Payment
            </p>
				<a href="" class="cs-button-solid">Make An Appointment</a>
				{# <ul class="cs-stats-group"> </ul> #}
			</div>

			<div class="section-center">
				<div class="section-up">
					<div class="sun">
						<span></span>
					</div>
					<div class="cloud-left">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="cloud-middle">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="cloud-right">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="bird-wrapper">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="bird-wrapper snd">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="bird-wrapper trd">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="building-left">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="building-right">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span>
							<span></span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="left-tree">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="right-tree">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill snd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill trd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill frt">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="section-down">
					<div class="ship-wrapper">
						<div class="ship">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="water-big-wrapper">
						<div class="water-big-wrap">
							<div class="water-big">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water-big snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water-big trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-lines-wrapper">
						<div class="water-lines">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="water-lines-wrapper right">
						<div class="water-lines">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="fish-wrapper">
						<div class="fish-wrap">
							<div class="fish">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="fish-wrapper right">
						<div class="fish-wrap">
							<div class="fish">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-wrapper top">
						<div class="water-wrap">
							<div class="water">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-wrapper">
						<div class="water-wrap">
							<div class="water">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-wrapper top right">
						<div class="water-wrap">
							<div class="water">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-wrapper right">
						<div class="water-wrap">
							<div class="water">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

	<!-- ============================================ -->
	<!--                  Services                    -->
	<!-- ============================================ -->

	<section id="services-1666">
		<div class="cs-container">
			<div class="cs-image-group">
				<picture class="cs-picture">
					<!--Mobile Image-->
					<source media="(max-width: 600px)" srcset="./assets/images/UIUX.jpg">
					<!--Tablet and above Image-->
					<source media="(min-width: 601px)" srcset="./assets/images/UIUX.jpg">
					<img loading="lazy" decoding="async" src="./assets/images/UIUX.jpg" alt="UI/UX Sketch" width="605" height="690">
				</picture>
				<!--SVG Graphic-->
				{# <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-swirl.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690"> #}
			</div>
			<div class="cs-content">
				<span class="cs-topper">$185 per month - Devloper in your back pocket</span>
				<h2 class="cs-title" id='hero-title'>Small Business Talored Monthly Plan</h2>
				<p class="cs-text">
                We specialize in web design and development for local businesses. Trying to provide cost-effective services to everyone. We strive for a combination of quality and low pricing, to attract more customers to your buissness though the means of the web.
            </p>
				<ul class="cs-faq-group">
					<li class="cs-faq-item active">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-code" viewBox="0 0 16 16">
								<path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
								<path d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708m-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708"/>
							</svg>
							<span class="cs-button-text">
                            Web Design & Development
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Includes over 40 hours of design, development, and testing.
                    </p>
					</li>
					<li class="cs-faq-item ">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-raised-hand cs-icon" viewBox="0 0 16 16">
								<path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
								<path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
							</svg>
							<span class="cs-button-text">
                            On-Demand Support
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
					</li>
					<li class="cs-faq-item">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-hdd-stack" viewBox="0 0 16 16">
								<path d="M14 10a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1zM2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2z"/>
								<path d="M5 11.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M14 3a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/>
								<path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
							</svg>
							<span class="cs-button-text">
                            Hosting & Domain Management
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
					</li>
					<li class="cs-faq-item">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
							</svg>
							<span class="cs-button-text">
                            Unlimited Page Edits
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
					</li>
					<li class="cs-faq-item">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
								<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
								<path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
							</svg>
							<span class="cs-button-text">
                            Bulit in CMS Admin Panel
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
					</li>
				</ul>
				<a href="" class="cs-button-solid">Lets Chat!</a>
			</div>
		</div>

	</section>

	<!-- ============================================ -->
	<!--            Extra Content To Rank             -->
	<!-- ============================================ -->

	<section id="sbs-r">
		<div class="cs-container">
			<!-- Left Image Section -->
			<div class="cs-left">
				<picture class="cs-picture cs-picture1">
					<source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
					<source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
					<img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="560">
				</picture>
				<picture class="cs-picture cs-picture2">
					<source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
					<source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
					<img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="560">
				</picture>
			</div>
			<!-- Right Content Section-->
			<div class="cs-right">
				<span class="cs-topper">SEO Ranking</span>
				<h2 class="cs-title">Talk about a main service keyword</h2>
				<p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
				<p class="cs-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
                </p>
				<a href="/blog" class="cs-button-solid">Read our Blog</a>
			</div>
		</div>
	</section>

	<!-- ============================================ -->
	<!--                   Gallery                    -->
	<!-- ============================================ -->

	<section id="gallery">
		<div class="cs-container">
			<span class="cs-topper">Our Portfolio</span>
			<h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
			<div class="cs-image-group">
				<!-- Row 1-->
				<div class="cs-row cs-row-1">
					<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
					<picture class="cs-picture cs-picture1">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
					</picture>
					<picture class="cs-picture cs-picture2">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
					</picture>
					<picture class="cs-picture cs-picture3">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
					</picture>
				</div>
				<!-- Row 2 -->
				<div class="cs-row cs-row-2">
					<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
					<picture class="cs-picture cs-picture1">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
					</picture>
					<picture class="cs-picture cs-picture2">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
					</picture>
					<picture class="cs-picture cs-picture3">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
					</picture>
				</div>
				<!-- Row 3 -->
				<div class="cs-row cs-row-3">
					<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
					<picture class="cs-picture cs-picture1">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
					</picture>
					<picture class="cs-picture cs-picture2">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
					</picture>
					<picture class="cs-picture cs-picture3">
						<source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
						<source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
						<img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
					</picture>

				</div>
			</div>
			<a href="/projects" class="cs-button-solid">View Full Gallery</a>
		</div>
	</section>

	<!-- ============================================ -->
	<!--                   Reviews                    -->
	<!-- ============================================ -->

	<section id="reviews">
		<div class="cs-container">
			<span class="cs-topper">Our Reviews</span>
			<h2 class="cs-title">Words From Our Customers</h2>
			<p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
			<ul class="cs-card-group">
				<!-- Review 1 -->
				<li class="cs-item">
					<img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
					<p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
					<span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
					</span>
					<img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
				</li>
				<!-- Review 2 -->
				<li class="cs-item">
					<img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
					<p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
					<span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
					</span>
					<img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
				</li>
			</ul>
			<a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
		</div>
	</section>

	{% include 'components/cta.html' %}
{% endblock %}