---
title: 'Sunlit Sites | Web Design & Devlopment | Nelson Bays, NZ'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
	<link rel="stylesheet" href="/assets/css/local.css"/>
	<link rel="stylesheet" href="/assets/css/critical.css"/>

	<!-- Script for Netlify Identity -->
	<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script defer>
		if (window.netlifyIdentity) {
			window
				.netlifyIdentity
				.on('init', (user) => {
					if (!user) {
						window
							.netlifyIdentity
							.on('login', () => {
								document.location.href = '/admin/';
							});
					}
				});
		}
	</script>

	<!-- JSON Schema Markup -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "LocalBusiness",
			"name": "{{ client.name }}",
			{% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
			{% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
			{% if client.email %}"email": "{{ client.email }}",{% endif %}
			{% if client.address %}
				"address": {
					"@type": "PostalAddress"{% if client.address.lineOne %},
						"streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
					{% endif %}
					{% if client.address.city %},
						"addressLocality": "{{ client.address.city }}"
					{% endif %}
					{% if client.address.state %},
						"addressRegion": "{{ client.address.state }}"
					{% endif %}
					{% if client.address.zip %},
						"postalCode": "{{ client.address.zip }}"
					{% endif %}
					{% if client.address.country %},
						"addressCountry": "{{ client.address.country }}"
					{% endif %}
				},
			{% endif %}
			{% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
			{% if client.socials %}
				"sameAs": [{% for platform, url in client.socials %}
						{% if not loop.first %},{% endif %}
						"{{ url }}"
					{% endfor %}]
			{% endif %}
		}
	</script>
{% endblock %}

{% block body %}

	<!-- ============================================ -->
	<!--                   Hero                       -->
	<!-- ============================================ -->

	<section id="hero-288" class="">

		<div class="cs-container">
			<div class="cs-content">
				<h1 class="cs-title " id="hero-title" contentEditable role='textbox' aria-multiline='true'>Crafted by Hand Powered by Code</h1>
				<h2 class="cs-name" contentEditable role='textbox' aria-multiline='true'> Affordable Web Design for Local Small Businesses. </h2>
				<p class="cs-text "contentEditable role='textbox' aria-multiline='true'>
                Skip the Builders and Templates Our Custom-Coded Websites Start at $150/Month with Zero Down Payment
            </p>
				<a href="" class="cs-button-solid">Make An Appointment</a>
				{# <ul class="cs-stats-group"> </ul> #}
			</div>

			<div class="section-center">
				<div class="section-up">
					<div class="sun">
						<span></span>
					</div>
					<div class="cloud-left">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="cloud-middle">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="cloud-right">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="bird-wrapper">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="bird-wrapper snd">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="bird-wrapper trd">
						<div class="left-wing">
							<span></span>
						</div>
						<div class="right-wing">
							<span></span>
						</div>
					</div>
					<div class="building-left">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="building-right">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span>
							<span></span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="left-tree">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="right-tree">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill snd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill trd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hill frt">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="section-down">
					<div class="ship-wrapper">
						<div class="ship">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="water-big-wrapper">
						<div class="water-big-wrap">
							<div class="water-big">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water-big snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water-big trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-lines-wrapper">
						<div class="water-lines">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="water-lines-wrapper right">
						<div class="water-lines">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="fish-wrapper">
						<div class="fish-wrap">
							<div class="fish">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="fish-wrapper right">
						<div class="fish-wrap">
							<div class="fish">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-wrapper top">
						<div class="water-wrap">
							<div class="water">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-wrapper">
						<div class="water-wrap">
							<div class="water">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-wrapper top right">
						<div class="water-wrap">
							<div class="water">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="water-wrapper right">
						<div class="water-wrap">
							<div class="water">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water snd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="water trd">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

	<!-- ============================================ -->
	<!--                  Services                    -->
	<!-- ============================================ -->

	<section id="services-1666">
		<div class="cs-container">
			<div class="cs-image-group">
				<picture class="cs-picture">
					<!--Mobile Image-->
					<source media="(max-width: 600px)" srcset="./assets/images/UIUX.jpg">
					<!--Tablet and above Image-->
					<source media="(min-width: 601px)" srcset="./assets/images/UIUX.jpg">
					<img loading="lazy" decoding="async" src="./assets/images/UIUX.jpg" alt="UI/UX Sketch" width="605" height="690">
				</picture>
				<!--SVG Graphic-->
				{# <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-swirl.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690"> #}
			</div>
			<div class="cs-content">
				<span class="cs-topper">$185 per Month - 6 Month Minimum Contract</span>
				<h2 class="cs-title" id='hero-title'>Small Business Talored Monthly Plan</h2>
				<p class="cs-text">
                We specialize in web design and development for local businesses. Trying to provide cost-effective services to everyone. We strive for a combination of quality and low pricing, to attract more customers to your buissness though the means of the web.
            </p>
				<ul class="cs-faq-group">
					<li class="cs-faq-item active">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-code" viewBox="0 0 16 16">
								<path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
								<path d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708m-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708"/>
							</svg>
							<span class="cs-button-text">
                            Web Design & Development
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Includes over 40 hours of design, development, and testing.
                    </p>
					</li>
					<li class="cs-faq-item ">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-raised-hand cs-icon" viewBox="0 0 16 16">
								<path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
								<path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
							</svg>
							<span class="cs-button-text">
                            On-Demand Support
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
					</li>
					<li class="cs-faq-item">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-hdd-stack" viewBox="0 0 16 16">
								<path d="M14 10a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1zM2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2z"/>
								<path d="M5 11.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M14 3a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/>
								<path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
							</svg>
							<span class="cs-button-text">
                            Hosting & Domain Management
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Lorem, ipsum mosmosdolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
					</li>
					<li class="cs-faq-item">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
							</svg>
							<span class="cs-button-text">
                            Unlimited Page Edits
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
					</li>
					<li class="cs-faq-item">
						<button class="cs-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
								<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
								<path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
							</svg>
							<span class="cs-button-text">
                            Bulit in CMS Admin Panel
                        </span>
							<span class="cs-indicator" aria-hidden="true"></span>
						</button>
						<p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
					</li>
				</ul>
				<a href="" class="cs-button-solid">Lets Chat!</a>
			</div>
		</div>

	</section>

	<!-- ============================================ -->
	<!--                  Services 2                  -->
	<!-- ============================================ -->

	<section id="services-1644">
		<div class="cs-container">
			<div class="cs-content">
				<span class="cs-topper">Qaulity at a fair price</span>
				<h2 class="cs-title" id="hero-title">What Else Our Sites Include</h2>
				<p class="cs-text">
                Our website is designed to provide users with the great experience while also maximising performance. Here's what else we offer.
            </p>
			</div>
			<ul class="cs-card-group">
				<li class="cs-item">
					<div class="cs-image-group">

						<svg xmlns="http://www.w3.org/2000/svg" class="cs-icon" loading="lazy" decoding="async" height="48" aria-hidden="true" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
							<path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018"/>
							<path d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"/>
						</svg>
					</div>
					<div class="cs-flex">
						<h2 class="cs-h2">Optimised Search</h2>
						<p class="cs-item-text">
                    We've carefully crafted our content and structure to ensure high visibility in Google search results, making it easier for you to find us when you need us.
                    </p>
					</div>
				</li>
				<li class="cs-item">
					<div class="cs-image-group">
						<svg xmlns="http://www.w3.org/2000/svg" class="cs-icon" loading="lazy" decoding="async" height="48" aria-hidden="true" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
							<path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
						</svg>
					</div>
					<div class="cs-flex">
						<h2 class="cs-h2">Google analytics</h2>
						<p class="cs-item-text">
                        We use this powerful tool to understand how users interact with our site, allowing us to continuously improve your website performance.
                    </p>
					</div>
				</li>
				<li class="cs-item">
					<div class="cs-image-group">
						<svg xmlns="http://www.w3.org/2000/svg" class="cs-icon" loading="lazy" decoding="async" height="48" aria-hidden="true" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
							<path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2M3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707M2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8m9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5m.754-4.246a.39.39 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.39.39 0 0 0-.029-.518z"/>
							<path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.95 11.95 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0"/>
						</svg>

					</div>
					<div class="cs-flex">
						<h2 class="cs-h2">Page speed metrics</h2>
						<p class="cs-item-text">
                        We prioritize fast loading times to get you the information you need quickly, reducing frustration and improving overall satisfaction.
                    </p>
					</div>
				</li>
				<li class="cs-item">
					<div class="cs-image-group">
						<svg xmlns="http://www.w3.org/2000/svg" class="cs-icon" loading="lazy" decoding="async" height="48" aria-hidden="true" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
							<path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
							<path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
						</svg>
					</div>
					<div class="cs-flex">
						<h2 class="cs-h2">Mobile First Design</h2>
						<p class="cs-item-text">
							Our website is built with mobile devices in mind, ensuring a seamless and intuitive experience whether you're on-the-go or at home.
                    </p>
					</div>
				</li>
			</ul>
		</div>
	</section>

<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-2082">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Blog</span>
            <h2 class="cs-title" id="hero-title">Check Out Our Lastest Work</h2>
            <p class="cs-text">
                Orci eu lobortis elementum nibh tellus. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Luctus accumsan tortor posuere ac ut consequat semper. Et pharetra pharetra massa massa ultricies mi quis.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="./assets/images/portfolio/berkett-screenshot.png">
                    <source media="(min-width: 601px)" srcset="./assets/images/portfolio/berkett-screenshot.png">
                    <img loading="lazy" decoding="async" src="./assets/images/portfolio/berkett-screenshot.png" alt="people" width="411" height="280">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">26<br>Oct</span>
                    <div class="cs-info-wrapper">
                        <span class="cs-category">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/folder-green.svg" alt="icon" width="20" height="20" aria-hidden="true">
                            Dental Surgery
                        </span>
                        <span class="cs-comments">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/comment-green.svg" alt="icon" width="20" height="20" aria-hidden="true">
                            3 Comments
                        </span>
                    </div>
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">When you need a dental filling as soon as possible?</h3>
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="./assets/images/portfolio/berkett-screenshot.png">
                    <source media="(min-width: 601px)" srcset="./assets/images/portfolio/berkett-screenshot.png">
                    <img loading="lazy" decoding="async" src="./assets/images/portfolio/berkett-screenshot.png" alt="people" width="411" height="280">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">26<br>Oct</span>
                    <div class="cs-info-wrapper">
                        <span class="cs-category">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/folder-green.svg" alt="icon" width="20" height="20" aria-hidden="true">
                            Dental Surgery
                        </span>
                        <span class="cs-comments">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/comment-green.svg" alt="icon" width="20" height="20" aria-hidden="true">
                            3 Comments
                        </span>
                    </div>
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Is your floss toxic? Find a safe one for your tooth!</h3>
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="./assets/images/portfolio/berkett-screenshot.png">
                    <source media="(min-width: 601px)" srcset="./assets/images/portfolio/berkett-screenshot.png">
                    <img loading="lazy" decoding="async" src="./assets/images/portfolio/berkett-screenshot.png" alt="people" width="411" height="280">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">26<br>Oct</span>
                    <div class="cs-info-wrapper">
                        <span class="cs-category">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/folder-green.svg" alt="icon" width="20" height="20" aria-hidden="true">
                            Dental Surgery
                        </span>
                        <span class="cs-comments">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/comment-green.svg" alt="icon" width="20" height="20" aria-hidden="true">
                            3 Comments
                        </span>
                    </div>
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Products to help your oral and overall health.</h3>
                    </a>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All News</a>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--                  about us                    -->
<!-- ============================================ -->


<section id="sbs-1099">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="./assets/images/me.JPG">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="./assets/images/me.JPG">
                <img loading="lazy" decoding="async" src="./assets/images/me.JPG" alt="appliance" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="./assets/images/jayden.jpg">
                <source media="(min-width: 601px)" srcset="./assets/images/jayden.jpg">
                <img loading="lazy" decoding="async" src="./assets/images/jayden.jpg" alt="appliance" width="305" height="441">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/eclipses.svg" alt="stripes" width="140" height="140" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">About us</span>
            <h2 class="cs-title" id="hero-title">The Faces Behind Sunlit Sites</h2>
            <p class="cs-text">
              I'm Hannah, the developer behind our websites, and I work with my partner Jayden, who has a bachelor's degree in Business and Accounting. Jayden is in charge of all administrative tasks and photography. Based in Nelson Bays, I learned to code as a pastime a few years ago, and now I'm eager to share my passion for design through code, supporting small businesses in bringing their visions to reality.
            <a href="./about" class="a-btn">Learn More </a>
			</p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Our Mission</h3>
                    <p class="cs-li-text">
                        To empower small businesses in Nelson and beyond by creating custom, hand-coded websites that showcase their unique vision and help them succeed.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Our Vision</h3>
                    <p class="cs-li-text">
                        To be a go-to partner for small businesses, providing innovative web solutions that fuel growth and build lasting online success.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1103">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title" id="hero-title">Affordable Pricing Plans</h2>
            <p class="cs-text">
                We offer flexible and affordable website solutions to meet the needs of small businesses. Whether you're looking for a simple 5-page site or a larger, more complex project, we have you covered with transparent pricing and dedicated support.
            </p>
            <a href="" class="cs-button-solid">More Info</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Standard 5 Page Site</span>
                <span class="cs-price">
                    $185
                    <span class="cs-duration">/ Month</span>
                </span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Unlimited Content & Design Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Hosting / Domain Mangement
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Lifetime Updates & Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Photography Included
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        SEO Optimization, Accessibility & Performance Monitoring
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        User Admin Panel for Content Management
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Large 5+ Page Site</span>
                <span class="cs-price">1.5K
					<span class="cs-duration">/ Starting</span>
				</span>
				
                <ul class="cs-ul">
                    <li class="cs-li">
                        $50 per hour for additional work
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Hosting & Domain Mangement $30/mo
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        On Demand Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Photography Included
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>

                    <li class="cs-li">
                        User Admin Panel for Content Management
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
					<li class="cs-li cs-disabled">
                        Performance not Monitored
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
                                

	{% include 'components/cta.html' %}
{% endblock %}